body {
    font-family: "NTR","Quicksand",sans-serif;  
    background-color:#011926;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.myname {
    font-size: 33px;
    text-align: left;
    color:#8FE3CF;
    position: relative;
    left: 200px;
    top: 100px;
    
}

.mydescription {
    font-size: 22px;
    color:#8FE3CF;
    max-width: 40%;
    text-align: justify;
    position: relative;
    left: 200px;
    top: 30px;
    padding-bottom: 50px;
}

.profile {
    display: inline-block;
    font-size: 22px;
    color:#4093af;
    max-width: 40%;
    text-align: justify;
    position: relative;
    left: 200px;
    top: 30px;
    padding-bottom: 50px;
}

.profileimage {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgb(0 0 0 / 46%);
    border: none;
    position: relative;
    left: 20%;
    bottom: -60px;
}

.skills {
    font-size: 22px;
    color:#4093af;
    max-width: 40%;
    text-align: justify;
    position: relative;
    left: 200px;
    top: 30px;
    padding-bottom: 50px;
}

.skill-row {
    position: relative;
    left: 40px;
    bottom: 40px;
}
.contact-me {
    display: inline-block;
    font-size: 22px;
    color:#4093af;
    max-width: 40%;
    text-align: justify;
    position: relative;
    left: 200px;
    top: 30px;
    padding-bottom: 25px;
}

.copyright {
    font-size: 15px;
    color:#4093af;
    text-align: center;

}

hr {
    border-style: solid;
    color:#2B4865;
    max-width: 60%;
    position: relative;

}

.socials {
    position: fixed;
    bottom: 5%;
    right: 5%;
    filter: invert(100%);
  -webkit-filter: invert(100%);
}

.mail_icon {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    position: relative;
    left: 208px;
    top: 32.5px;
}

a:visited { 
    text-decoration: none; 
    color: #4093af; 
   }

a:hover { text-decoration: none; color:#8FE3CF; }
a:focus { text-decoration: none; color:#8FE3CF; }
a:active { text-decoration: none; color:#8FE3CF; }

/*
.mt_mint {
    color: #00E980;
}

.mt_darkblue {
    color:#011926;
}

.mt_blue {
    color: #245C69;
}

.cp_darkblue {
    color: #002B5B;
}

.cp_blue {
    color: #2B4865;
}

.cp_turqoise {
    color: #256D85;
}

.cp_mint {
    color: #8FE3CF;
}

*/